@model ApplicationUser
@inject CarRentalProject.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<div>
  <h1>User Name: @Html.DisplayFor(model => Model.UserName)</h1>
    
    <h2>Email: @Html.DisplayFor(model => Model.Email)</h2>
    <h3>Phone: @Html.DisplayFor(model => Model.PhoneNumber)</</h3>

</div>

@{var orders = _context.Rents.Where(x => x.UserID == Model.Id); }
<table class="table">
    <thead>
        <tr>
            <th>
                Car Brand
            </th>
            <th>
                Car Model
            </th>
            <th>
                Color
            </th>
            <th>
                Price
            </th>
            <th>
               StartDate
            </th>
            <th>
                EndDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ord in @orders)
        {
            var auto = _context.Auto.First(x => x.ID == ord.CarID);
            <tr>
                <td>@Html.DisplayFor(model => @auto.Brand)</td>
                <td>@Html.DisplayFor(model => @auto.Model)</td>
                <td>@Html.DisplayFor(model => @auto.Color)</td>
                <td>@Html.DisplayFor(model => @auto.PricePerDay)</td>
                <td>@Html.DisplayFor(modelOrd => ord.StartDate)</td>
                <td>@Html.DisplayFor(model => ord.EndDate)</td>

            </tr>
        }
    </tbody>

</table>
<form asp-action="SendOrder">
    <div class="form-group">
        <input type="submit" value="Send Orders" class="btn btn-default" />
    </div>
</form>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
